{erl_opts,
    [
        debug_info,
        {parse_transform, lager_transform}
    ]}.
{deps,
    [
        {jsx,"2.9.0"},
        {observer_cli, {pkg, observer_cli}},%% observer
        {lager, {pkg, lager}},
        {gpb, {pkg, gpb}},
        {recon, {pkg, recon}}
        ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gen_proto]}
]}.
