
%%关联的服务器配置
%%账号服务器配置
{account_server_host,"account.1cent.xyz"}.
{account_server_port,80}.
{account_server_key,"psn"}.

%%聊天监控服务器配置
{chat_monitor_host, "hlxd.msg.we4399.com"}.
{chat_monitor_port, 5008}.

%%游戏服配置
{tcp_listen_addr, "0.0.0.0"}.
{tcp_listen_port, 12025}.
{tcp_accepter_count, 10}.
{inter_node, 'mmo_inter_dev@192.168.0.12'}.
{open_server_time, {2019,5,5}}.
{active_server, {{172, 16,11, 218}, 18188}}.
{platform_id, 1}.
{server_id, 2}.
{inter_flag,false}.
{sandbox,true}.


%%客户端充值
{client_pay_key , "1d1037971f73fcdf6dbe144cbdf61553"}.

%%调试相关
%%GM指令开关
{gm_flag,open}.
{print_recv_proto_data, false }.
{print_send_proto_data, false }.

